html {height: 2000px;}

.text-primary {color: #2e7ff2 !important;}
.bg-primary {background-color: #2e7ff2 !important;}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
	background: #f60;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #ccc;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

/*
@media screen and (min-width: 1200px) {
	PC col-xl-
}
@media screen and (max-width: 1199px) {
	태블릿 가로 col-lg-
}
@media screen and (max-width: 992px) {
	태블릿 세로 col-md-
}
@media screen and (max-width: 768px) {
	스마트폰 가로 col-sm-
}
@media screen and (max-width: 576px) {
	스마트폰 세로 col-
}
*/